/* Définir une nouvelle police appelée 'MermaidBabies' */
@font-face {
    font-family: 'MermaidBabies'; /* Nom de la police */
    src: url(fonts/MermaidBabies.otf); /* Chemin vers le fichier de la police */
}

/* Styles de base pour le corps de la page */
body {
    margin: 0px; /* Supprime les marges par défaut */
    padding: 0px; /* Supprime les espacements internes par défaut */
}

/* Styles pour l'en-tête */
header {
    display: flex; /* Utilise le modèle flexbox pour disposer les éléments enfants */
    justify-content: space-around; /* Espace les enfants uniformément */
    align-items: center; /* Aligne les enfants au centre verticalement */
    font-family: 'MermaidBabies'; /* Utilise la police 'MermaidBabies' */
    background-color: #4c9ba4; /* Définit la couleur de fond */
    color: white; /* Définit la couleur du texte en blanc */
}

/* Styles pour le titre h1 dans l'en-tête */
header h1 {
    margin: 0; /* Supprime les marges par défaut */
    padding: 0; /* Supprime les espacements internes par défaut */
    font-size: 50px; /* Définit la taille de la police */
}

/* Styles pour la navigation dans l'en-tête */
header nav {
    display: flex; /* Utilise le modèle flexbox pour disposer les éléments enfants */
    justify-content: flex-end; /* Aligne les enfants à la fin */
}

/* Styles pour la liste non ordonnée dans la navigation */
header nav ul {
    list-style: none; /* Supprime les puces de la liste */
    display: flex; /* Utilise le modèle flexbox pour disposer les éléments enfants */
}

/* Styles pour les liens dans la navigation */
header a {
    color: white; /* Définit la couleur du texte en blanc */
    text-decoration: none; /* Supprime la décoration par défaut des liens (soulignement) */
    padding: 10px; /* Ajoute un espacement interne */
}

/* Styles pour les éléments de liste dans la navigation */
header nav li {
    font-size: 30px; /* Définit la taille de la police */
}

/* Change la couleur des liens lorsqu'ils sont survolés */
header nav a:hover {
    color: #ffccff; /* Définit la couleur de survol */
}


/* Media query pour les écrans de moins de 780 pixels de large */
@media (max-width: 780px) {
    header {
        flex-direction: column; /* Aligne les enfants en colonne */
        justify-content: center; /* Centre horizontalement les enfants */
    }

    header h1 {
        font-size: 20px; /* Réduit la taille de la police des titres */
        transform: translate(15%); /* Décale le texte horizontalement */
        padding: 0px; /* Supprime les espacements internes */
        margin: 0px; /* Supprime les marges */
    }

    header nav ul {
        margin: 0px; /* Supprime les marges */
        justify-content: center; /* Centre horizontalement les enfants */
        flex-direction: column; /* Aligne les enfants en colonne */
    }

    header nav li {
        font-size: 15px; /* Réduit la taille de la police des éléments de liste */
        padding: 2px; /* Ajoute un espacement interne */
    }

    header nav a {
        padding: 0px; /* Supprime les espacements internes */
    }
